*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: relative;
    justify-content: space-between;
    align-items: center;

}

.header__left{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    margin-top: 1rem;
}

.header__left > img{
    margin-left: 10px;
    object-fit: contain;
    height: 1.5rem;

}

.header__middle{
    display: flex;
    flex: 0.7;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}


/* .gmail__logo{
    height: 25rem;
    width: 25rem;
} */